@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #0a0a0c;
  color: #e9e7e2;
}

* {
  scrollbar-color: #2a2a30 #0a0a0c;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #2a2a30;
  border-radius: 8px;
}
